/* body {
    background-color: white;
    color: black;
} */

.map {
    font-size: 30px;
    margin-bottom: 20px;
}

.backarrow {
    width: 15%;
    height: auto;
}

img {
    width: 20%;
    height: auto;
}